$dark-bg: rgba(0, 0, 0, 0.6);

$transition-all: all 0.3s;

$radius: 5px;

.movie-container {
  max-width: 75%;
  margin: 0 0 0 320px;

  &-title {
    text-align: center;
    font-size: 25px;
  }
}
.movie {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  position: relative;
  padding: 30px 0;
  transition: $transition-all;
}
.movie-card {
  margin: 25px 30px;
  border-radius: $radius;
  box-shadow: 2px 8px 10px $dark-bg;
  width: 100%;
  max-width: 200px;
  display: inline-block;
  position: relative;
  transition: $transition-all;
  cursor: default;

  &:hover,
  &:focus {
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0px 0px 10px $dark-bg;
  }

  & img {
    display: block;
    height: 270px;
    border-radius: $radius;
    width: 100%;
    transition: $transition-all;
  }

  &:hover img,
  &:focus img {
    opacity: 0.5;
  }

  &-title {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 22px;

    font-weight: bold;
    text-align: center;
    background-color: $dark-bg;
    padding: 10px 0;
    transition: $transition-all;
    visibility: hidden;
    opacity: 0;
  }

  &:hover &-title,
  &:focus &-title {
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 1;
  }

  &-genre,
  &-rating {
    font-size: 14px;
    display: block;
    padding: 5px 10px;
    opacity: 0.8;
    word-wrap: break-word;
  }
  &-rating {
    opacity: 1;
  }
  &-rating sub {
    vertical-align: baseline;
  }
}
.page-title {
  text-align: center;
  margin: 0;
  padding: 20px;
  background: rgb(29, 39, 49);
  background: linear-gradient(
    270deg,
    rgba(37, 50, 63, 1) 0%,
    rgba(60, 86, 117, 0.8888597675398284) 90%
  );
}

@media (max-width: 767px) {
  .movie-container {
    max-width: initial;
    margin: 0;
  }

  .movie {
    justify-content: space-around;
    padding-top: 0;

    &-card {
      max-width: 180px;
      margin: 25px 15px;
      box-shadow: none;

      &:focus,
      &:hover {
        box-shadow: none;
        transform: none;
      }

      & img {
        height: 230px;
        box-shadow: 2px -8px 15px $dark-bg;
      }

      &:focus img,
      &:hover img {
        opacity: 1;
      }

      & img:focus,
      & img:hover {
        box-shadow: 0px 0px 15px $dark-bg;
        transform: scale(1.05);
      }

      &-title {
        position: static;
        transform: none;
        opacity: 1;
        visibility: visible;
        font-size: 18px;
        background: none;
        text-transform: uppercase;
      }
      &:focus &-title,
      &:hover &-title {
        transform: none;
      }

      &-genre,
      &-rating {
        opacity: 1;
        padding: 5px 0;
        text-transform: capitalize;
      }
      &-genre,
      &-rating sub:not(.fa-star) {
        opacity: 0.7;
      }
    }
  }
  .page-title {
    font-size: 20px;
    background: none;
  }
}
